p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
.appetizer-one{
    width: 200px;
    height:100px;
}

.appetizer-two{
    width: 100px;
    height:100px;
}

.appetizer-three{
    width: 100px;
    height:100px;
}

.main-course-one{
    width: 200px;
    height:100px;
}

.main-course-two{
    width: 200px;
    height:100px;
}

.main-course-three{
    width: 200px;
    height:100px;
}

.main-course-four{
    width: 200px;
    height:100px;
}

.dessert-one{
    width: 200px;
    height:100px;
}

.dessert-two{
    width: 100px;
    height:100px;
}

.dessert-three{
    width: 200px;
    height:100px;
}
